body {
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

.mainblock {
    min-width: 1200px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-one {
    width: 100%;
    height: 1012px;
    background: url("../img/Sections background/section-1.jpg") fixed center no-repeat;
    background-size: cover;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-one::before{
    content:"";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background:  rgba(255,255,255,0.1);
    pointer-events: none;
}

.section-one_header-bg {
    background-color:  rgba(73,71,63,0.6);
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;  bottom: 0; left: 0; right: 0;
    z-index: 0;
}

.section-one_header {
    width: 1160px;
    padding:40.5px 0px;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }

.icon-main {
    color:#fff;
    font-size: 32px;
    position: relative;
    z-index: 2;
}

.icon-main span:nth-child(2){
    font-weight: bold;
    color:#18cfab;
    position: relative;
    z-index: 2;
}

.hexagon {
    position: relative;
    margin-right:65px;
    z-index: 2;
}

.mainH {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    left:10px;
    top: -6px;
    z-index: 2;
}

.hexagon div {
    position: absolute;
    width: 52px;
    height: 30px;
    border-top: none;
    border-bottom: none;
    left: 0px;
    top: 3px;
    background: #18cfab;
    z-index: 1;
}

.hexagon div:nth-child(2) {
    transform:rotate(60deg);
    z-index: 1;
}

.hexagon div:nth-child(3) {
    transform:rotate(-60deg);
    z-index: 1;
}
  
.header-menu {
    display: flex;
    position:relative;
}

.header-menu a {
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    align-self:center;
    margin: auto;
}

.header-menu li {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    margin:0px 7px;
}

.header-menu li:not(:last-child) a:hover {
    color:#18cfab;
}

.header-menu li:not(:last-child) a::after{
    background-color: #18cfab;
    display: flex;
    position:relative;
    content: "";
    top:53px;
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.header-menu li:not(:last-child) a:hover::after  {
    width: 100%;
}

.section-one_header-banner {
    max-width: 1160px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-top:245px;
    color:#fff;
}

.header-banner_1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
}

.header-banner_1 span {
    color:#18cfab;
}

.header-banner_2 {
    font-size: 79px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-banner_3 {
    font-size: 34px;
    color:#d4d4d4;
    font-weight: 300;
}

.section-one_clickblock {
    max-width: 1160px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top:140px;
    position: relative;
}

.section-one_clickblock>a {
    display: flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    width: 166px;
    height: 61px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    border-top:5px solid #fff;
    font-size: 13px;
}

.clickblock-1 {
    background-color: #18cfab;
    margin-right: 15px;
}

.clickblock-1:hover {
    background-color: rgb(24, 107, 65);
}

.clickblock-2 {
    background-color: #00cbf6;
    margin-left: 15px;
}

.clickblock-2:hover {
    background-color: rgb(0, 3, 246);
}

.clickblock-slidemenu {
    color:#FFF;
    width: 171px;
    top:0;
    left:150%;
    position: absolute;
}

.clickblock-slidemenu_conteiner {
    background-color: rgba(0, 0, 0, 0.65);
    width: 171px;
    height: 105px;
}

.clickblock-slidemenu_switch {
    margin-top:18px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.clickblock-slidemenu_switch>a {
    width: 63px;
    height: 63px;
    background-color: rgba(60, 65, 64, 0.6);
    display: flex;
    justify-content:center;
    align-items:center;
}

.clickblock-slidemenu_switch a:hover {
    opacity: 1;
    background: #18cfab;
}

.clickblock-slidemenu_switch-right::after {
    content:">";
    display: flex;
    color:#fff;
    font-size: 34px;
    font-weight: bold;
}

.clickblock-slidemenu_switch-left::after {
    content:"<";
    display: flex;
    color:#fff;
    font-size: 34px;
    font-weight: bold; 
}

.section-two {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:374px;
    width: 100%;
}

.section-two>div {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-two>div img {
    margin-bottom:50px;
}

.section-two>div:nth-child(odd){
    background: #1c2a33;
    border-top: 7px solid #18cfab;
    color:#18cfab;
}

.section-two>div:nth-child(even) {
    background: #18cfab;
    border-top: 7px solid #fff;
    color:#fff;
}

.section-two>div:nth-child(even) img{ 
    margin-top:20px;
}

.section-three {
    height: 558px;
    max-width: 1160px;
    background: #FFF;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-three_tittle {
    display: flex;
    font-size: 36px;
    color: #4e4e4e;
    padding-top:84px;
    position: relative;
}

.section-three_tittle::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 1px;
    top:160px;
    left:80px;
  }

.section-three_tittle::before {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 0.5px;
    top:155px;
    left:65px;
}

.section-three_switchblock {
    display: flex;
    margin-top:110px;
}

.section-three_switchblock div {
    width: 191.5px;
    height: 71px;
    border:1px solid #ececec;
    color:#717171;
    font-size: 16px;
    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.switcher_check {
    background: #18cfab;
    color:#fff !important;
    position: relative;
}

.switcher_check::before {
    content:"";
    display: block;
    width: 100%;
    height: 50px;
    top:50px;
    position:absolute;
    background:url(../img/all/seedown.png) center no-repeat;
}

.section-three_switchconteiner>div {
    display:none;
} 

.section-three_switchblock-content {
    margin-top:25px;
    display:flex !important;
    justify-content:space-between;
    align-items:flex-start;
}

.switchblock-content_img {
    border:1px solid #968777;
}

.switchblock-content_text {
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 1.78;
    margin-left:22px;
}

.section-four {
    width: 100%;
    height: 476px;
    background: url("../img/Sections background/section-2.jpg") fixed center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    position:relative;
}

.section-four::before{
    content:"";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background:  rgba(0,0,0,0.7);
    pointer-events: none;
}

.section-four_header {
    max-width: 1160px;
    position: relative;
    z-index: 3;
    color:#18cfab;
    font-size:40px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-four_text {
    max-width: 1160px;
    position: relative;
    z-index: 3;
    color:#d8d8d8;
    font-size:16px;
    margin-top:10px;
}

.section-four_button {
    max-width: 1160px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    width: 166px;
    height: 61px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    border-top:5px solid #fff;
    background-color: #18cfab;
    font-size: 13px;
    margin-top:60px;
}

.section-four_button:hover {
    background-color: #00cfa1;
}

.section-five {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    position: relative;
}

.section-five::before{
    content:"";
    position: absolute;
    width: 100%;
    top: 0; bottom: 0; left: 0; right: 0; 
    background-color:#f8fcfe;
    pointer-events: none;
    z-index:2;
}

.section-five>div {
    max-width: 1160px;
    position:relative;
    z-index:3;
}

.section-five_tittle {
    display: flex;
    font-size: 36px;
    color: #4e4e4e;
    padding-top:84px;
    position: relative;
}

.section-five_tittle::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 1px;
    top:155px;
    left:142px;
}

.section-five_tittle::before {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 1px;
    top:150px;
    left:125px;
}

.section-five_switchblock {
    display: flex;
    margin-top:110px;
}

.section-five_switchblock div {
    padding:0 15px;
    height: 60px;
    border:1px solid #ececec;
    color:#717171;
    font-size: 14px;
    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.switcher2_check {
    color:#18cfab !important;
    position: relative;
}

.switcher2_check::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 100%;
    height: 2px;
    top:-3px;
    left:0;
}

#section-five_imgblock {
    margin-top:70px;
}

.section-five_imgblock-active {
   display: flex;
   flex-wrap: wrap;
   max-width: 1160px;
}

.section-five_imgblock-active img {
    width: 290px;
    height: 210px;
}

.section-five_img-hovered {   
    width: 290px;
    height: 210px;
    background: #f8fcfe;
    border-top:2px solid #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.five_img-hovered_link {
    display:flex;
    justify-content: center;
}

.five_img-hovered_link a {
   font-size:18px;
   border-radius: 50%;
   width: 41px;
    height: 40px;
   border:1px solid #18cfab;
   display:flex;
   justify-content: center;
   align-items: center;
   color:#18cfab;
}

.five_img-hovered_link a:hover {
    background: #18cfab;
    color:#fff;
}

.five_img-hovered-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:34px;
}

.five_hovered-text-header {
    text-transform: uppercase;
    font-weight: bold;
    color:#18cfab;
    font-size:14px;
}

#five_hovered-text-tittle {
    margin-top:10px;
    font-size:12px;
    color:#a0a1a1;
}

.section-five_imgblock-load,
.section-eight_imgblock-load {
    font-size: 18px;
    margin:70px 0px 0px 0px; 
    width: 10em;
    height: 1em;
    position: relative;
    border-radius: .5em; 
    background: rgba(255,255,255,0.6);
    box-shadow:
    0 0 0 .05em rgba(100,100,100,0.075), 
    0 0 0 .25em rgba(0,0,0,0.1),
    inset 0 .1em .05em rgba(0,0,0,0.1),
    0 .05em rgba(255,255,255,0.7); 
   }

.section-five_imgblock-load::after,
.section-eight_imgblock-load::after {
    content: "Please wait";
    position: absolute;
    left: 25%;
    top: 150%;
    font-size: 1em;
    color: #18cfab;
    text-shadow: 0 .05em rgba(255,255,255,0.7);
   }

.sphere,
.sphere-masonry {
    display: block;
    width: 1em;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#18cfab, #18cfab);
    box-shadow:
    inset 0 .15em .1em rgba(255,255,255,0.9),
    inset 0 -.1em .15em rgba(0,0,0,0.15), 0 0 .25em rgba(0,0,0,0.3); 
    animation: move 1.75s ease-in-out infinite alternate;
}

@keyframes move {
    to { margin-left: 90%; }
}

.section-five_imgblock-loadmore {
    margin:70px 0px 100px 0px;
    border-radius: 4px;
    background-color: rgb(24, 207, 171);
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
    position:relative;
    padding:30px 82px;
    box-sizing:padding-box;
    cursor:pointer;
  }

.section-five_imgblock-loadmore:hover {
    background-color: rgb(40, 107, 171);
}

.section-five_imgblock-loadmore::after {
    content: "Load More";
    font-size: 14px;
    position: absolute;
    top:23px;
    left:55px;
}

.section-five_imgblock-loadmore::before {
    content: "+";
    position: absolute;
    font-size: 38px;
    top:8px;
    left:22px;
}
  
.section-six {
    max-width: 1160px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    position: relative;
}

.section-six_tittle {
    display: flex;
    font-size: 36px;
    color: #4e4e4e;
    padding:84px 0px 70px 0px;
    position: relative;
}

.section-six_tittle::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 0.5px;
    top:155px;
    left:105px;
  }

.section-six_tittle::before {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 1px;
    top:150px;
    left:95px;
}

.section-six_photopost {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:45px 28px;
    margin-bottom: 131px;
}

.section-six_photopost>div {
    height: 280px;
    width: 265px;
    border:1px solid #ebebeb;
    position:relative;
    background: #f8fcfe;
}

.six_photopost1-absoluteblock1,
.six_photopost2-absoluteblock2,
.six_photopost3-absoluteblock3,
.six_photopost4-absoluteblock4,
.six_photopost5-absoluteblock5,
.six_photopost6-absoluteblock6,
.six_photopost7-absoluteblock7,
.six_photopost8-absoluteblock8 {
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    right:0;
    top:0;
    width: 66px;
    height: 68px;
    background: #203e38;
    color:#FFF;
    font-size:16px;
}

.section-six_photopost>div img:nth-child(1) {
    height: 208px;
    width: 265px;
    margin-bottom:10px;
}

.section-six_photopost>div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section-six_photopost>div div>span:nth-child(1) {
    margin-left:15px;
    font-size:18px;
    font-weight: bold;
    color:#717171;
    position:relative;
    cursor:default;
}

.section-six_photopost>div div>span:nth-child(2) {
    font-size:14px;
    color:#abacad;
    font-weight: 300;
    margin:8px 0px 0px 18px;
    cursor:default;
}

.six_photopost1:hover  .six_photopost1-content_tittle1,
.six_photopost2:hover .six_photopost2-content_tittle2,
.six_photopost3:hover .six_photopost3-content_tittle3,
.six_photopost4:hover .six_photopost4-content_tittle4,
.six_photopost5:hover .six_photopost5-content_tittle5,
.six_photopost6:hover .six_photopost6-content_tittle6,
.six_photopost7:hover .six_photopost7-content_tittle7,
.six_photopost8:hover .six_photopost8-content_tittle8 {
    color: #18cfab !important;
    cursor: pointer;
}

.six_photopost1:hover  .six_photopost1-absoluteblock1,
.six_photopost2:hover  .six_photopost2-absoluteblock2,
.six_photopost3:hover  .six_photopost3-absoluteblock3,
.six_photopost4:hover  .six_photopost4-absoluteblock4,
.six_photopost5:hover  .six_photopost5-absoluteblock5,
.six_photopost6:hover  .six_photopost6-absoluteblock6,
.six_photopost7:hover  .six_photopost7-absoluteblock7,
.six_photopost8:hover  .six_photopost8-absoluteblock8 { 
    background: #18cfab !important;
}

.section-seven  {
    width: 100%;
    height: 853px;
    background: url("../img/Sections background/section-3.jpg") fixed center no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    position: relative;
}

.section-seven-content {
    max-width: 1160px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.section-seven_tittle {
    display: flex;
    font-size: 36px;
    color: #fff;
    padding:100px 0px 70px 0px;
    position: relative;
}

.section-seven_tittle::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 0.5px;
    top:171px;
    left:258px;
  }

.section-seven_tittle::before {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 1px;
    top:166px;
    left:248px;
}

@keyframes anim-sevenblock-left {
    0% {transform: translate(-100%, -50%)}
    100% {transform: translate(0px, 0)}
}

@keyframes anim-sevenblock-right {
    0% {transform: translate(100%, -50%)}
    100% {transform: translate(0, 0)}
}

@keyframes anim-sevenblock-down {
    0% {transform: translate(-50%, -90%)}
    50% {transform: translate(50%, -60%)}
    100% {transform: translate(0, 0)}
}

.runanamation-sevenblock-left {
    animation: anim-sevenblock-left 0.5s;
}

.runanamation-sevenblock-right {
    animation: anim-sevenblock-right 0.5s;
}

.runanamation-sevenblock-down {
    animation: anim-sevenblock-down 0.5s;
}

#section-seven_talkinghead {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#talkinghead_tittle-text {
    margin-top:85px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color:#bbbbbb;
    position: relative;
    line-height: 1.875;
}
  
#talkinghead_tittle-text::before {
    content: "";
    position: absolute;
    color: #18cfab;
    width: 45px;
    height: 35px;
    top:-65px;
    left:48%;
    background:url("../img/all/symTalkingHead.png") center no-repeat;
    display:block;
}

#talkinghead_active-name {
    color:#18cfab;
    text-transform: uppercase;
    font-weight: bold;
    font-size:18px;
    margin-top:45px;
}

#talkinghead_active-job {
    color:#bbbbbb;
    font-size:12px;
    font-weight: 300;
    margin:5px 0px 15px 0px;
}

#talkinghead_tittle-circlephoto {
    width: 164px;
    height: 163px;
    border-radius: 50%;
    background-color: rgba(31, 218, 181,0.2);
    display: flex;
    justify-content:center;
    align-items:center;
}

#talkinghead_active-photo {
    width: 140px;
    height: 140px;
    border: 3px solid #18cfab;
    border-radius: 50%;
}

.section-seven_carousel {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:55px;
}

#carousel_imgpanel div {
    border-radius: 50%;
    border:5px solid rgba(31, 218, 181,0.2);
    margin:0px 14px;
    width: 59px;
    height: 59px;
    display: inline-block;
}

.miniphoto-up {
    transform: translate(0, -15%) !important;
}

#carousel_imgpanel img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.img_active  {
    transform: translate(-2%, -2%);
    border:1px solid #18cfab!important;
}

.section-seven_carousel input:nth-child(1) {
    margin-right:14px;
}

.section-seven_carousel input:nth-last-child(1) {
    margin-left:14px;
}

#carousel_buttonleft,
#carousel_buttonright  {
    width: 31px;
    height: 31px;
    border:1px solid rgb(187, 187, 187);
    color:rgb(187, 187, 187);
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: transparent;
}

#carousel_buttonleft:hover,
#carousel_buttonright:hover {
    background: #18cfab;
    border:1px solid #18cfab;
    cursor:default;
}

.section-eight {
    min-width: 800px;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color:#f8fcfe;
    height: 100%;
}

.section-eight_tittle {
    display: flex;
    font-size: 36px;
    color: #4e4e4e;
    padding:100px 0px 115px;
    position: relative;
}

.section-eight_tittle::after {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 0.5px;
    top:160px;
    left:160px;
  }

.section-eight_tittle::before {
    content: "";
    background-color: rgb(24, 207, 171);
    position: absolute;
    width: 76px;
    height: 0.5px;
    top:155px;
    left:145px;
}
/* start masonry */
.grid {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-item {
    width: 180px;
    height: 170px;
}
  
.grid-item--width2 { width: 375px; }
.grid-item--width3 { width: 420px; }
.grid-item--height2 { height: 240px; }
.grid-item--height3 { height: 290px; }
  
.grid-item>img{
    width: 100%;
    height: 100%;
}

.grid-item--mini {
    width: 125px;
    height: 90px;
}

.grid-item--closer {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
    z-index:3;
}
  
.grid-item:hover {
    border-color: white;
  }

.section-eight_loadmore {
    margin:70px 0px 0px 0px;
    border-radius: 4px;
    background-color: rgb(24, 207, 171);
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
    position:relative;
    padding:30px 82px;
    box-sizing:padding-box;
    cursor:pointer;
}

.section-eight_loadmore:hover {
    background-color: rgb(40, 107, 171);
}

.section-eight_loadmore::after {
    content: "Load More";
    font-size: 14px;
    position: absolute;
    top:23px;
    left:55px;
}

.section-eight_loadmore::before {
    content: "+";
    position: absolute;
    font-size: 38px;
    top:8px;
    left:22px;
}

.section-eight_grid-hover  {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background:  rgba(0,0,0,0.7);
}

.section-eight_grid-hover>* {
    font-size:18px;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    background: #14b9d5;
    align-items: center;
    color:#fff;
}

/* end masonry */
.fa-sistrix {
    margin-left: 3px;
}

.fa-book {
    margin-right: 3px;
}

.fa-arrows-alt {
    margin-left: 5px;
    cursor:pointer;
}

.fa-link {
    margin-right: 3px;
}

footer {
    margin-top:100px;
    position: relative;
    background: #22353f;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-bottom: 11px solid #FFF;
}

.footertext {
    max-width: 1160px;
    font-size: 14px;
    color:#aeaeae;
}

.footertext a { 
    color:#18cfab;
}

.scrollup {
	width:40px;
	height:40px;
	opacity:0.7;
	position:fixed;
	bottom:108px;
	right:25px;
	display:none;
    text-indent:-9999px;
    z-index: 10;
	background: url('../img/all/icon_top.png') no-repeat;
}

.scrollup:hover {
    opacity:1;
}